<div class="flex-container">
  <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Main menu button">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #appMenu="matMenu">
    @if (showMenuItem('rides')) {
      <button mat-menu-item routerLink="/rides">Rides</button>
    }
    @if (showMenuItem('models')) {
      <button mat-menu-item routerLink="/models">Models</button>
    }
    @if (showMenuItem('makes')) {
      <button mat-menu-item routerLink="/makes">Makes</button>
    }
    @if (showMenuItem('categories')) {
      <button mat-menu-item routerLink="/categories">Categories</button>
    }
  </mat-menu>
  <h1>{{ title }}</h1>
</div>
<router-outlet></router-outlet>
